<button class="q-carousel-button q-carousel-button--prev">
	<title>Prevoius</title>
	<svg class="q-carousel-button__icon">
		<path d="M7 11L2 6l5-5" />
	</svg>
</button>
<button class="q-carousel-button q-carousel-button--next">
	<title>Next</title>
	<svg class="q-carousel-button__icon">
		<path d="M1 1l5 5-5 5"/>
	</svg>
</button>
