<h2 class="q-footer__heading">
	Is your web server's SSL/TLS configuration secure?
	<span class="nowrap">Find out for free.</span>
</h2>
<p class="q-footer__copy">
	See the power of Qualys, instantly. We don’t use the domain names or the
	test results, and we never will.
</p>

<div class="q-footer__search">
	{% include "search-form.njk" %}
</div>

<div class="q-footer__service">
	<h3 class="q-footer__subheading">
		More free services
	</h3>
	<ul class="q-footer__service-list">
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="/forms/remote-endpoint/">
				60-Day Remote Endpoint Protection</a>
		</li>
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="/apps/global-assetview/">
				Global AssetView</a>
		</li>
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="/community-edition/">
				Community Edition</a>
		</li>
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="/certview/">
				CertView</a>
		</li>
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="/cloudview/">
				CloudView</a>
		</li>
		{#  <li class="q-footer__service-item">
			<a class="q-footer__link" href="https://qualysguard.qg3.apps.qualys.com/apisec-api/register.html">
				API Security Assessment</a>
		</li>  #}
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="https://www.ssllabs.com/">
				SSL Labs</a>
		</li>
		<li class="q-footer__service-item">
			<a class="q-footer__link" href="/free-tools-trials/browsercheck/">
				BrowserCheck</a>
		</li>
	</ul>
</div>
