<small class="q-footer__copyright">
	© {{site.year}} Qualys, Inc.&nbsp; All rights reserved.&nbsp;
	<a href="{{site.base.url}}/company/privacy/" class="nowrap">
		Privacy Policy</a>.&nbsp;
	<a href="{{site.base.url}}/company/privacy/#notice-at-collection" class="nowrap">
		Notice at Collection</a>.&nbsp;
	<a href="{{site.salesforce.support.url}}/standards" class="nowrap">
		Trust</a>.&nbsp;
	<a href="{{site.base.url}}/cookie-consent/" class="nowrap">
		Cookie Consent</a>.&nbsp;
</small>
