{% if site.env.production %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={% if gtm.id %}{{ gtm.id }}{% else %}{{ site.google.gtm.id }}{% endif %}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% endif %}
