<div class="mobile-trial-overlay hidden" data-expires="2022-03-01T17:00:00Z">
	{# 
		expiration date in UTC time in format yyyy-mm-ddThh-mm-ss in 24 hour format
		get current UTC time from https://www.timeanddate.com/time/zone/timezone/utc
		get future UTC time from https://everytimezone.com/
		don't forget to update the mobile promo banner in mobile-trial-banner.hbs
		important: make sure that banner html contains class "q-button" in any of the tag
	 #}
	<a class="close-button">
		<svg class="x" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
			<g fill="#FFF" fill-rule="evenodd">
				<path d="M10.142.243l1.414 1.414-9.9 9.9-1.414-1.415z" />
				<path d="M.242 1.657L1.657.243l9.9 9.9-1.415 1.413z" />
			</g>
		</svg>
	</a>
	{#  <div class="exchange-banner-mobile">
		<img src="{{site.asset}}/image/2021/qsc/qsc21-white.svg" width="120" class="hidden"/>
	</div>  #}
	<p class="promo-text"><b>Log4Shell Response</b></p>
	<div class="promo-banner-cta">
		<a class="q-button right" href="https://www.qualys.com/log4shell-cve-2021-44228/"><span>See updates</span></a>
	</div>

	{#  <a href="/2021/black-hat-usa/?utm_source=mobile-banner-all-pages&utm_medium=website&utm_campaign=awareness&utm_term=blackhat-2021&utm_content=event&leadsource=344571777" class=""><img src="{{site.asset}}/image/logo/black-hat-usa-2021.png" alt="Black Hat USA 2021" width="200" class="qsc-logo"></a>
	<p class="promo-text">Come visit us</p>
	<p class="link-text"><a href="/2021/black-hat-usa/?utm_source=mobile-banner-all-pages&utm_medium=website&utm_campaign=awareness&utm_term=blackhat-2021&utm_content=event&leadsource=344571777" class="q-button q-button-link">Come visit us</a></p>
	<div class="q-heading-plus-cta__cta">
		<a class="q-button" id="mobile-trial-link"
			href="/2021/black-hat-usa/?utm_source=homepage-banner-bh&utm_medium=website&utm_campaign=awareness&utm_term=blackhat-2021&utm_content=blackhat&leadsource=344571777">Come visit us</a>
	</div>  #}
</div>