<ul class="q-nav-actions">
	<li class="q-nav-actions__item q-nav-actions__item--search"><button class="q-nav-actions__item--search-btn"><img="/asset/image/icon/search-magnifying-glass.svg"></button></li>
	<li class="q-nav-actions__item q-nav-actions__item--search-close">
		<span class="q-nav-actions__link q-nav-actions__link--search-close">
			<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
				<path fill="#6a778b" d="M7.0710678 5.6568542L1.4142136 0 0 1.4142136l5.6568542 5.6568542L0 12.7279221l1.4142136 1.4142135 5.6568542-5.6568542 5.6568543 5.6568542 1.4142135-1.4142135-5.6568542-5.6568543 5.6568542-5.6568542L12.7279221 0 7.0710678 5.6568542z"/>
			</svg>
		</span>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--community">
		<div class="q-navigation__link--wrapper">
			<a class="q-nav-actions__link q-nav-actions__link--community">Community</a>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--community">
			<div class="q-sub-nav__inner">
				<ul class="q-nav__list">
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/customers.svg" width="30" height="27" /></span>
						<a class="q-nav__link" href="https://community.qualys.com/">Overview</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/discuss.svg" width="30" height="27" /></span>
						<a class="q-nav__link" href="{{site.salesforce.discuss.url}}/">Discuss</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/blog.svg" width="30" height="27" /></span>
						<a class="q-nav__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/training.svg" width="29" height="36" /></span>
						<a class="q-nav__link" href="/training/">Training</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/docs.svg" width="22" height="30" /></span>
						<a class="q-nav__link" href="/documentation/">Docs</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/resources.svg" width="29" height="29" /></span>
						<a class="q-nav__link" href="/resources/">Resources</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--login">
		<div class="q-navigation__link--wrapper">
			<span class="q-nav-actions__link q-nav-actions__link--menu">Login</span>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--login">
			<div class="q-sub-nav__inner">
				<ul class="q-sub-nav-list">
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qualys.com/" class="q-sub-nav-list__link">US Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg2.apps.qualys.com/" class="q-sub-nav-list__link">US Platform 2</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg3.apps.qualys.com/" class="q-sub-nav-list__link">US Platform 3</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg4.apps.qualys.com/" class="q-sub-nav-list__link">US Platform 4</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg1.apps.qualys.ca/" class="q-sub-nav-list__link">CA Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qualys.eu/" class="q-sub-nav-list__link">EU Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg2.apps.qualys.eu/" class="q-sub-nav-list__link">EU Platform 2</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg1.apps.qualys.in/" class="q-sub-nav-list__link">IN Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg1.apps.qualys.ae/" class="q-sub-nav-list__link">AE Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg1.apps.qualys.co.uk/" class="q-sub-nav-list__link">UK Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg1.apps.qualys.com.au/" class="q-sub-nav-list__link">AU Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://qualysguard.qg1.apps.qualysksa.com" class="q-sub-nav-list__link">KSA Platform 1</a>
					</li>
					<li class="q-sub-nav-list__item">
						<a href="https://pci.qualys.com/" class="q-sub-nav-list__link">PCI Platform</a>
					</li>
				</ul>
				<div class="q-sub-nav__action">
					<a class="q-button q-button--secondary q-button--block right" href="https://www.qualys.com/platform-identification/"><span>What’s my platform?</span></a>
				</div>
			</div>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--contact-us">
		<div class="q-navigation__link--wrapper">
			<span class="q-nav-actions__link q-nav-actions__link--menu">Contact us</span>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--contact-us">
			<div class="q-sub-nav__inner">
				<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
				<ul class="q-nav__list">
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/chat.svg" width="30" height="27" /></span>
						<a class="q-nav__link drift-open-chat">Chat with us</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/schedule-demo.svg" width="30" height="28" /></span>
						<a class="q-nav__link" href="/forms/schedule-demo/">Schedule a demo</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/call.svg" width="28" height="28" /></span>
						<a class="q-nav__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/request-call.svg" width="28" height="28" /></span>
						<a class="q-nav__link" href="/forms/request-a-call/">Request a call or email</a>
					</li>
					<li class="q-nav__list-item q-nav__heading--icon">
						<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/offices.svg" width="29" height="30" /></span>
						<a class="q-nav__link" href="/company/contacts/#headquarters">Global offices and contacts</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--ai-signup">
		<div class="q-header-ai-signup">
			<input type="email" placeholder="name@company.com" class="hero-email"> <a href="#" class="q-button js-hero-create-account">
				Create Account. <font>It’s Free!</font></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--pm-signup">
		<div class="q-header-pm-signup">
			<a href="/forms/patch-management/" class="q-button right js-hero-create-account"><span>Try PM for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--vmdr-signup">
		<div class="q-header-vmdr-signup">
			<a href="/forms/vmdr/" class="q-button right js-hero-create-account"><span>Try VMDR for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--trurisk-signup">
		<div class="q-header-trurisk-signup">
			<a href="/forms/vmdr-trurisk/" class="q-button right js-hero-create-account"><span>Try VMDR TruRisk for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--cs-signup">
		<div class="q-header-cs-signup">
			<a href="/forms/container-security/" class="q-button right"><span>Try CS for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--totalcloud-signup">
		<div class="q-header-totalcloud-signup">
			<a href="/forms/totalcloud/" class="q-button right js-hero-create-account"><span>Sign up for TotalCloud</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--cdr-signup">
		<div class="q-header-cdr-signup">
			<a href="/forms/cloud-detection-response/" class="q-button right js-hero-create-account"><span>Sign up for CDR</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--csam-signup">
		<div class="q-header-csam-signup">
			<a href="/forms/cybersecurity-asset-management/" class="q-button right"><span>Try CSAM for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--pci-signup">
		<div class="q-header-pci-signup">
			<a href="/forms/pci-compliance/" class="q-button right"><span>Try PCI for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--pc-signup">
		<div class="q-header-pci-signup">
			<a href="/forms/policy-compliance/" class="q-button right"><span>Try Policy Compliance for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--vmdr-mobile-signup">
		<div class="q-header-vmdr-signup">
			<a href="/apps/vulnerability-management-detection-response/mobile-devices/#trial" class="q-button right js-hero-create-account"><span>Try VMDR for Mobile Devices</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--saasdr-signup">
		<div class="q-header-saasdr-signup">
			<a href="/forms/saas-detection-response/" class="q-button right"><span>Try SaaSDR for free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--edr-signup">
		<div class="q-header-vmdr-signup">
			<a href="/forms/endpoint-detection-response/" class="q-button right"><span>Try Multi-Vector EDR for Free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--car-signup">
		<div class="q-header-vmdr-signup">
			<a href="/forms/custom-assessment-remediation/" class="q-button right"><span>Try CAR for Free</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--xdr-signup">
		<div class="q-header-vmdr-signup">
			<a href="/forms/extended-detection-response/" class="q-button right"><span>Request a Demo</span></a>
		</div>
	</li>
	<li class="q-nav-actions__item q-nav-actions__item--trial">
		<div class="q-navigation__link--wrapper">
			<span class="q-button q-nav-actions__link--menu down"><span>Try it</span></span>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--trial">
			<div class="q-sub-nav__inner">
				<h2 class="q-nav__heading q-nav__heading--icon">
					<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/platform.svg" width="30" height="30" /></span>
					<span class="q-nav--txt">Qualys Cloud Platform</span>
				</h2>
				<ul class="q-nav__list">
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/free-trial/">Cloud Platform - Free Trial</a>
					</li>
					{# <li class="q-nav__list-item">
						<a class="q-nav__link" href="/forms/vmdr/">Qualys VMDR - Free Trial</a>
					</li> #}
				</ul>
				<h2 class="q-nav__heading q-nav__heading--icon">
					<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/free-services.svg" width="24" height="27" /></span>
					<span class="q-nav--txt free-services">Free Services</span>
				</h2>
				<ul class="q-nav__list">
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/apps/global-assetview/">Global AssetView</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/community-edition/">Community Edition</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="https://www.ssllabs.com/">SSL Labs</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/certview/">CertView</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/cloudview/">CloudView</a>
					</li>
					{# <li class="q-nav__list-item">
						<a class="q-nav__link" href="https://qualysguard.qg3.apps.qualys.com/apisec-api/register.html">API Security Assessment</a>
					</li> #}
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
