<ul class="q-navigation">
	<li class="q-navigation__item">
		<a class="q-navigation__link cloud-platform" href="/cloud-platform/">Cloud Platform</a>
	</li>
	<li class="q-navigation__item q-navigation__item--parent">
		<div class="q-navigation__link--wrapper">
			<a href="/apps/" class="q-navigation__link q-navigation__link--menu q-navigation__link--menu-apps cloud-apps">
				Cloud Apps
			</a>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--apps">
			<div class="q-sub-nav__inner">
				<div class="q-nav">
					<div class="q-nav__group q-nav__group--apps">
						<p class="q-nav--description"><a href="/apps/" class="q-nav--description-link"><b class="q-nav__link">Overview</b> – Qualys IT, Security and Compliance apps are natively integrated, each sharing the same scan data for a single source <font class="nowrap">of truth.</font></a><br>
						<a href="/subscriptions/" class="q-nav--description-link"><b class="q-nav__link">Subscription Options</b> – Pricing depends on the number of apps, IP addresses, web apps and <font class="nowrap">user licenses.</font></a>
						</p>

						<div class="q-nav-apps__container">
							<div class="q-apps-nav__column">
								<h3 class="q-nav__subheading q-nav__heading--icon active">
									<span class="q-nav--icon q-nav--icon-line-break"><img src="{{site.asset}}/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
									<span class="q-nav--txt q-nav--txt-line-break">Asset Management</span>
								</h3>
								<ul class="q-nav__list">
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/global-assetview/">Global AssetView – <br><span class="q-nav__link--highlight">It’s Free! Unlimited Assets</span></a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management - <span class="q-nav__link--highlight">New</span></a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/certificate-inventory/">Certificate Inventory</a></span>
									</li>
								</ul>
							</div>
							<div class="q-apps-nav__column">
								<h3 class="q-nav__subheading q-nav__heading--icon">
									<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/it-security.svg" width="31" height="28" /></span>
									<span class="q-nav--txt">IT Security</span>
								</h3>
								<ul class="q-nav__list">
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response - <span class="q-nav__link--highlight">Most Popular</span></a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/threat-protection/">Threat Protection</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/continuous-monitoring/">Continuous Monitoring</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/patch-management/">Patch Management</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/endpoint-detection-response/">Multi-Vector EDR</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/certificate-assessment/">Certificate Assessment</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/saas-detection-response/">SaaS Detection & Response</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/extended-detection-response/">Context XDR</a></span>
									</li>
								</ul>
							</div>
							<div class="q-apps-nav__column">
								<h3 class="q-nav__subheading q-nav__heading--icon">
									<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/compliance.svg" width="30" height="34" /></span>
									<span class="q-nav--txt">Compliance</span>
								</h3>
								<ul class="q-nav__list">
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/policy-compliance/">Policy Compliance</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/security-configuration-assessment/">Security Configuration Assessment</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/pci-asv-compliance/">PCI ASV Compliance</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/security-assessment-questionnaire/">Security Assessment Questionnaire</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/out-of-band-configuration-assessment/">Out-of-Band Configuration Assessment</a></span>
									</li>
								</ul>
							</div>
							<div class="q-apps-nav__column">
								<h3 class="q-nav__subheading q-nav__heading--icon">
									<span class="q-nav--icon q-nav--icon-line-break"><img src="{{site.asset}}/image/icon/nav/cloud-container-sec.svg" width="32" height="26" /></span>
									<span class="q-nav--txt q-nav--txt-line-break">Cloud-native Security</span>
								</h3>
								<ul class="q-nav__list">
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/totalcloud/">TotalCloud - <span class="q-nav__link--highlight">New</span></a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/cloud-inventory/">Cloud Inventory</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/cloud-security-assessment/">Cloud Security Assessment</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/container-security/">Container Security</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response</a> - <span class="q-nav__link--highlight">New</span></a></span>
									</li>
								</ul>
							</div>
							<div class="q-apps-nav__column">
								<h3 class="q-nav__subheading q-nav__heading--icon">
									<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/web-app-sec.svg" width="32" height="31" /></span>
									<span class="q-nav--txt">Web App Security</span>
								</h3>
								<ul class="q-nav__list">
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/web-app-scanning/">Web App Scanning</a></span>
									</li>
									<li class="q-nav__list-item">
										<span class="q-nav__link-app-wrapper"><a class="q-nav__link" href="/apps/web-app-firewall/">Web App Firewall</a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="q-navigation__item q-navigation__item--parent q-navigation__item--solutions">
		<div class="q-navigation__link--wrapper">
			<a href="/solutions/" class="q-navigation__link q-navigation__link--menu q-nav-actions__item--solutions">
				Solutions
			</a>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--solutions">
			<div class="q-sub-nav__inner">
				<ul class="q-nav__list">
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/">Overview</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/infrastructure/">Infrastructure security</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/threat-protection/">Threat protection</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/cloud/">Cloud infrastructure security</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/endpoint/">Endpoint security</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/devops/">DevOps</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/compliance/">Compliance</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/pci-compliance/">PCI compliance</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/solutions/web-app/">Web app security</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/subscriptions/government/">Government</a>
					</li>
					<li class="q-nav__list-item">
						<a class="q-nav__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small business</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
	{# <li class="q-navigation__item">
		<a class="q-navigation__link" href="{{site.salesforce.support.url}}/">Support</a>
	</li> #}
	<li class="q-navigation__item q-navigation__item--parent">
		<div class="q-navigation__link--wrapper">
			<span class="q-navigation__link q-navigation__link--menu q-navigation__link--menu-more">
				More
			</span>
			<img src="{{site.asset}}/image/icon/global-nav-triangle-tick-mark.svg" width="19" height="11" class="q-navigation__item--tick"/>
		</div>
		<div class="q-sub-nav q-sub-nav--more">
			<div class="q-sub-nav__inner">
				<div class="q-nav">
					{# <div class="q-nav__group q-nav__group--bordered">
						<h2 class="q-nav__heading q-nav__heading--icon">
							<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/solutions.svg" width="30" height="33" /></span>
							<span class="q-nav--txt q-nav--txt-line-break">Solutions</span>
						</h2>
						<ul class="q-nav__list">
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/">Overview</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/infrastructure/">Infrastructure security</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/cloud/">Cloud infrastructure security</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/endpoint/">Endpoint security</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/devops/">DevOps</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/compliance/">Compliance</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/pci-compliance/">PCI Compliance</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/solutions/web-app/">Web app security</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/subscriptions/government/">Government</a>
							</li>
						</ul>
					</div> #}
					<div class="q-nav__group q-nav__group--bordered">
						<h2 class="q-nav__heading q-nav__heading--icon">
							<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/customers.svg" width="30" height="27" /></span>
							<span class="q-nav--txt q-nav--txt-line-break">Customers</span>
						</h2>
						<ul class="q-nav__list">
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/customers/">Overview</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/customers/#best-practices">Best practices</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/customers/#success-stories">Success stories</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/customers/#testimonials">Testimonials</a>
							</li>
						</ul>
					</div>
					<div class="q-nav__group q-nav__group--bordered">
						<h2 class="q-nav__heading q-nav__heading--icon">
							<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/partners.svg" width="36" height="21" /></span>
							<span class="q-nav--txt q-nav--txt-line-break">Partners</span>
						</h2>
						<ul class="q-nav__list">
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/">Overview</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/program/">Partner program</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/vad/">VAD partners</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/var/">VAR resellers</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/mssp/">MSP/MSSP partners</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/subscriptions/consultants/">Consultants and MSPs</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/integration/">Integration partners</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/faq/">Partner FAQs</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/partners/find/">Find a partner</a>
							</li>
						</ul>
					</div>
					<div class="q-nav__group q-nav__group--bordered">
						<h2 class="q-nav__heading q-nav__heading--icon">
							<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/company.svg" width="30" height="31" /></span>
							<span class="q-nav--txt q-nav--txt-line-break">Company</span>
						</h2>
						<ul class="q-nav__list">
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/company/">About us</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/company/management/">Our team</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="https://investor.qualys.com/">Investor relations</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/company/newsroom/">News</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/customers/awards/">Awards</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/company/events/">Events</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/careers/">Careers</a>
							</li>
						</ul>
					</div>
					<div class="q-nav__group">
						<h2 class="q-nav__heading q-nav__heading--icon">
							<span class="q-nav--icon"><img src="{{site.asset}}/image/icon/nav/support.svg" width="25" height="29" /></span>
							<span class="q-nav--txt q-nav--txt-line-break">Support</span>
						</h2>
						<ul class="q-nav__list">
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="{{site.salesforce.csp.url}}/">Overview</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/training/">Free training</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="/resources/">Resources</a>
							</li>
							<li class="q-nav__list-item">
								<a class="q-nav__link" href="https://community.qualys.com/">Community</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="underbar"></li>
	<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
		<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><img src="/asset/image/icon/search-magnifying-glass.svg"></button>
		<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
	</form>
	<div class="underbar"></div>
</ul>