<div class="q-numbers{% if linear %} q-numbers--linear{% endif %}{% if animate %} q-numbers--will-animate{% endif %}">
	{% for item in numbers %}
		<div class="q-numbers__item">
			<span class="q-numbers__value">{{value}}</span>
			<span class="q-numbers__heading">{{title}}</span>
			{% if link %}{{link}}{% endif %}
		</div>
	{% endfor %}
</div>
