<p class="q-lp-privacy-info private-info form__privacy q-default-hero__trialform-privacy">
	Qualys respects your
	<a href="/company/privacy/"
	   data-fancybox
	   data-options='{"toolbar": false, "smallBtn": true}'
	   data-src="/company/privacy/content/"
	   data-type="iframe"
	   title="Qualys Privacy Statement Highlights">privacy</a>.
</p>
