<form
	action="https://www.ssllabs.com/ssltest/analyze.html"
	class="q-search-form"
	method="GET"
>
	<input type="hidden" name="viaform" value="on">
	<input type="hidden" name="hideResults" value="on">
	<input
		type="text"
		name="d"
		autocomplete="off"
		autocorrect="off"
		autocapitalize="off"
		spellcheck="false"
		class="q-search-form__input"
		placeholder="Enter your public website URL"
	>
	<button class="q-search-form__button q-button" type="submit">Go</button>
</form>
