<div class="q-square">
	<div class="q-square__inner">

			<div class="q-square__content">
				<h2 class="q-square__heading">Trusted globally</h2>
				<p class="q-square__copy">
					More than 10,000 subscription customers worldwide in more than 130 countries trust Qualys to underpin digital transformation for greater agility, better business outcomes, and substantial cost savings.
				</p>
			</div>

			<a class="q-square__cta" href="/customers/">
				<span class="q-link q-link--white">Hear what our customers have to say</span>
			</a>

	</div>

</div>
